@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-bg-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* setup custom properties to use */
:root {
  --clr-bg-100: hsl(0, 0%, 100%);
  --clr-bg-200: hsl(212, 45%, 89%);
  --clr-fg-300: hsl(220, 15%, 55%);
  --clr-fg-400: hsl(218, 44%, 22%);
  --clr-box-shadow: hsla(0, 100%, 0%, 0.1);

  --font-family-primary: "Outfit", san-serif;
  font-family: var(--font-family-primary);

  --fs-primary: 0.9375rem;
  --fs-heading: 1.375rem;
}

.qr-code-card {
  background-color: var(--clr-bg-100);
  width: 320px;
  height: 500px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 6px var(--clr-box-shadow);
}

.qr-code-card img {
  width: 290px;
  height: 290px;
  border-radius: 10px;
}

.qr-code-card h2 {
  margin-top: 25px;
  color: var(--clr-fg-400);
  line-height: 1.2;
  font-size: var(--fs-heading);
  text-align: center;
}

.qr-code-card p {
  padding: 15px 15px 0 15px;
  font-size: var(--fs-primary);
  color: var(--clr-fg-300);
  text-align: center;
}
